* {
    box-sizing: border-box;
}
.error-output {
    color: red;
    background-color: white;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: #5992c9;
}
#request-container {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
}
#request-container label {
    display: block;
}
#request-container select, #request-container input {
    display: block;
    width: 70%;
}
.select-unit, .input-unit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}
.confirm-button {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
}